name: publish

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  publish:
    if: "${{ startsWith(github.event.head_commit.message, 'chore: release') && (github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main' )) }}"
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org/
          cache: pnpm

      - run: pnpm install

      - run: pnpm run build

      - name: Typecheck
        run: pnpm run typecheck

      - name: Publish to npm
        run: npm publish --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Get version from package.json
        id: version
        run: |
          VERSION=$(node -p "require('./package.json').version")
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Create or update tag
        run: |
          VERSION="${{ steps.version.outputs.version }}"
          COMMIT_SHA="${{ github.sha }}"

          git tag -f "v$VERSION" $COMMIT_SHA
          git push origin "v$VERSION" --force

      - name: Generate Changelog
        run: pnpx changelogithub
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
